.parent {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr auto;
    grid-gap: 2vw;
    align-items: baseline;
  

}

.children {
    font-size: 5vw;
    padding: .5em;
    text-align: center;
   


}